<h2> Change the name of your recipe </h2>

Current name: <%=@recipe.title%>

<form class="form-group" action="/recipe/<%=@recipe.id%>" method="post">
  <input type="text" name="recipe_title" placeholder="Enter new recipe title">
  <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>
